body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  position: relative;
    width: 100%;
    top: 100vh;
}
.photoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:230px;
}
.productoInd{
  padding: 5%;
}
.rating {
  width: 180px;
}

.ratingStar {
  cursor: pointer;
  color: #dabd18b2;
}
.card{
  height: 425px;
  margin: 7px auto;
}
.card-text{
  font-size: .8em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

